@import 'src/styles';

.title {
  @extend .text-center;
  @extend .user-select-none;
  @extend .flex-center;
  color: $font-color-primary;
  margin: 1rem 0;
}

.todo-container {
  margin: 0 auto;
  max-width: 1024px;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba($bg-color, 0.8);
  padding: 0 1rem;
  justify-content: space-between;
  display: flex;
  box-shadow: $box-shadow;
}
