@import 'src/styles';

.title {
  @extend .text-center;
  @extend .user-select-none;
  @extend .flex-center;
  color: $font-color-secondary;
  margin: 1rem 0;
}

header {
  @extend .user-select-none;
  padding: 0.3rem 0;
  background-color: rgba($bg-color, 0.8);
  box-shadow: $box-shadow;
}

@media (min-width: 576px) {
  header {
    padding: 0 1rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    box-shadow: $box-shadow;
  }
}
